<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635085916931-sslck5j75okq1lqfht2ald3v17sojqeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635085916931-sslck5j75okq1lqfht2ald3v17sojqeh</string>
	<key>API_KEY</key>
	<string>AIzaSyAp_rRYEy7XqqI2Ac35LjqzZcvhyKnuFEI</string>
	<key>GCM_SENDER_ID</key>
	<string>635085916931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-insta-clone-76115</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-insta-clone-76115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635085916931:ios:d8a4c3f785cdf78bcd7736</string>
</dict>
</plist>